/*  your css code here. If applicable */

/* Container styles */
#container {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgrey;
    box-sizing: border-box;
}

/* Notification heading styles */
#container h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px; /* Spacing between heading and first notification */
}

/* Notification styles */
.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px; /* Vertical spacing between notifications */
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
}

.notification:last-of-type {
    margin-bottom: 0; /* Remove margin for the last notification */
}

/* Image styles */
.notification img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
   
}

/* Paragraph styles */
.notification p {
    margin: 0; 
    margin-left: 10px; 
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* User span styles */
.notification .user {
    font-weight: bold;
}

/* Time span styles */
.notification .time {
    align-self: flex-end; /* Align to bottom right */
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

/* Button styles */
#viewMore {
    display: block;
    margin-top: 10px; /* Spacing between last notification and button */
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    background-color: #02203c;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
